<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
       <!-- font awsome -->
       <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    
       <!-- bootstrap -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
       <!-- mycss -->
       <link rel="stylesheet" href="../css/common.css">
       <link rel="stylesheet" href="../css/addDeller.css">
       
</head>
<body>
    <main>
        <div class="left">

            <div class="left-top">
                <i class="bi bi-person-check"></i> Admin
            </div>
            
            <div class="left-mid">
          
                <div class="mid-links" onclick="location.href='/admin'"> <i class="bi bi-house-fill"></i> home</div>
                <div class="mid-links active" onclick="location.href='/admin/addDealer'"><i class="bi bi-person-plus-fill"></i> add dealer</div>
                <div class="mid-links" onclick="location.href='/admin/editProfile'"><i class="bi bi-pencil-square"></i>edit profile</div>
                <div class="mid-links" onclick="location.href='/admin/logout'"><i class="bi bi-box-arrow-in-right"></i>log out</div>

            </div>

            <div class="left-bottom">
                Loged as an admin
            </div>

        </div>

        <div class="right">
            <h3 class="right-top">Register</h3>
            
            <div class="form-side">

                <fieldset class="border p-2" >
                
                    <legend  class="w-auto pl-3 pr-3 font-weight-bold">Form</legend>
    
                    <form action="createDealer" type="submit" method="post">
                        
                        <label  class="
                            <% if(typeof(userError) != "undefined"){%>
                                <% if(userError != "") {%> 
                                    <%= "text-danger" %>
                            <% } } %>
                            ">
                            Username
                            <% if(typeof(userError) != "undefined") { %>
                                <%= userError %> 
                            <% } %>     
                        </label>
                        <input type="text" placeholder="username" name="username" value="<%= typeof(username) != "undefined" ? username : "" %>"> 
                        <label for="">amount <sup>optional</sup></label>
                        <input type="number" min="0" placeholder="username" name="amount" value="<%= typeof(amount) != "undefined" ? amount : "0" %>"> 
                        <label  class="
                            <% if(typeof(passError) != "undefined"){%>
                                <% if(passError != "") {%> 
                                    <%= "text-danger" %>
                            <% } } %>
                            ">
                            Password
                            <% if(typeof(passError) != "undefined") { %>
                                <%= passError %> 
                            <% } %>     
                        </label>
                        
                        <input type="password" placeholder="username" name="password" > 
                        <label  class="
                            <% if(typeof(confirmError) != "undefined"){%>
                                <% if(confirmError != "") {%> 
                                    <%= "text-danger" %>
                            <% } } %>
                            ">
                            Confirm
                            <% if(typeof(confirmError) != "undefined") { %>
                                <%= confirmError %> 
                            <% } %>     
                        </label>
                        <input type="password" placeholder="username" name="confirm" > 
                      
                        <button type="submit">Register</button>
                    </form>
    
    
                 </fieldset>
    

            </div>
           
        </div>

    </main>
</body>
</html>